@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
  
  overflow-x: hidden;
  max-width: 100vw;
  background-color: rgb(59, 41, 158);;
}
.head1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
    
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  background-color: rgb(59, 41, 158);  
}

.head1 ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 56px;
  margin-top: 20px;
  margin-right: 50px;
}

.head1 ul li {
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: white;
}

.head1 a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  margin-right: 40px;
  
}

.head1 h1 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 60px;
  color: white;
}

.ctn {
  margin-top: 50px;
	padding: 15px;
	
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	color: white;
	outline: none;
	border: none;
	border-radius: 50px;
	background-color: #fa9021;
	border-radius: 5px;
	padding: 8px 20px;

}
#active
{
  color: #f35525;
}
.menu-icon {
  display: none; 
}
.contact1 h6 {
  font-size: 16px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 208.5%;
  margin-top: 150px;
}

.contact1 span {
  color: #e47500;
}

.contact1 h1 {
  font-size: 33px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;
  text-align: center;
  line-height: 180.5%;
  margin-top: 15px;
}

.contact1 p {
  color: white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 187.5%;
  text-align: center;
  margin-top: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;  
}

.image-container {
  margin-left: 250px;
  margin-top: 50px;
}

.dots {
  position: relative;
}

.dots img {
  position: absolute;
  bottom: 60px;
  left: 280px;
  mix-blend-mode: multiply;
  background-color: #2f2977;
}

.lasts 
{
  display: flex;
  justify-content: space-around;
}
hr 
{
  color: darkgray;
}
.follow  {
  
  color: white;
  font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;

}
.follow .ic i  
{
  font-size: 25px;
  padding: 10px;
}
.call 
{
  
  color: white;
  display: flex;
  font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    margin-top: 20px;
}
.call i  
{
  font-size: 30px;
  padding-right: 20px;
}
.locate
{
  
  color: white;
  display: flex;
  font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}
.locate i 
{
  font-size: 30px;
  padding-right: 20px;
  margin-top: 20px;
}
.form 
{
  height: 920px;
  width: 100%;
  background-color: #1c140f;
  margin-top: 140px;
}
.form .cform 
{
  height: 741px;
  width: 671px;
/*  border: 1px solid red;*/
  margin-left: 350px;
  padding-top:5px;

}

.cform h3 
{
  color: white;
  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 189.5%;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
}
.cform p 
{
  color: white;
  font-size: 13px;
  line-height: 187.5%;
  font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}
.cform .name
{
  display: flex;
  justify-content: space-around;
}
.name 
{
  color: white;
  line-height: 175.4%;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.name input 
{
  height: 56px;
  width: 322px;
  background-color: #1c140f;
  border: 1px solid #a5a4a2;
  color: white;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}
.name .firstn 
{
  margin-right: 30px;
}
.name input
{
  margin-top: 10px;
}
.name label 
{
  color: #35312e;
}
.email label
{
  color: #35312e;
}
.email input
{
  margin-top: 10px;
}
.email input 
{
  height: 56px;
  width: 675px;
  background-color: #1c140f;
  border: 1px solid #a5a4a2;
  
  border-radius: 10px;
}
.email 
{
  color: white;
  line-height: 175.4%;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-top: 30px;
}
.msg label
{
  color: #35312e;
}
.msg input
{
  margin-top: 10px;
}
.msg input 
{
  height: 260px;
  width: 675px;
  background-color: #1c140f;
  border: 1px solid #a5a4a2;
  
  border-radius: 10px;
}
.msg 
{
  color: white;
  line-height: 175.4%;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-top: 30px;
}
.buttons .ctn {
    display: block;           
    width: 100%;             
    max-width: 675px;        
    padding: 15px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #e27600; 
    margin: 20px auto 0 auto;  
}


.name .firstn,
.name .lastn {
  width: 48%; 
}
.c1 
{
  position: absolute;
  top: 1250px;
  right: 70px;
}
.c2 
{
  position: absolute;
  top: 1850px;

}

.parah h1 
{
  color: white;
  font-size: 30px;
   font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-left: 120px;
  line-height: 187.5%;
  margin-top: 120px;
}
.parah p 
{
  color: white;
   font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 187.5%;
  margin-left: 120px;
  margin-top: 15px;
  width: 70%;
}
.box  
{
  height: 189px;
  width: 1150px;
  border-radius: 20px;
  background-color: black;
  margin-left: 120px;
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.lorem h1 
{
  font-size: 30px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;

}
.lorem p 
{
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  margin-top: 10px;
    width: 80%;

}
.box .search 
{
  height: 48px;
  width: 385.68px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.search button
{
  padding: 10px 30px;
  background-color: #DC7000;
  color: white;
  border-radius: 10px;
  border: none;
  outline: none;
   font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 0px;

}
.search input 
{
  outline: none;
  border: none;
  padding: 10px;
  margin-left: 20px;
}
input::placeholder
{
  color: #898989;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.footer
{
  height: 300px;
  width: 100%;
  background-color: black;
  margin-top: 160px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding-top: 80px;
}
.end1 h3 
{
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.end1 p 
{
  font-size: 16px;
   font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 20px;
}
.end2 h4 
{
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;

}

.end2 ul 
{
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 20px;
}
.end3 h4 
{
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;

}

.end3 p 
{
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 20px;
}
.end4 i 
{
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 100px;
}
.line .bottom
{
  
  border-bottom: 100%;
  border: 1px solid darkgray;
}
.line h6 
{
  color: white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 0px;
  
  padding: 20px;
  padding-left: 550px;
  background-color: black;
 
}

@media (max-width: 991px) {
  .head1 {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100px;
    position: relative;
  }

  .menu-icon {
    display: block;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }

  #nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80.5px;
    left: 0;
    width: 100%;
    background-color: black; 
    text-align: center;
    padding: 20px 0;
    z-index: 999;
  }

  #nav-links.active {
    display: flex;
  }

  .head1 ul li {
    margin: 10px 0;
  }

  .ctn {
    margin: 10px auto 0;
  }

  .head1 h1 {
    margin: 0;
    font-size: 24px;
  }
   .contact1 p {
    width: 70%;   
    font-size: 15px;
  }
  .image-container {
    margin-left: 20px;
    
  }
  .image-container img 
  {
    width: 700px;
  }
  .dots img {
    display: none;  
  }
   .lasts {
    flex-direction: column; 
    align-items: center;
  }

  .call, .locate {
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
  }

  .locate i, .call i {
    margin-top: 10px;

  }
  .form .cform {
    width: 80%;          
    margin-left: auto;
    margin-right: auto; 
  }

  .name {
    flex-direction: column; 
    align-items: center;
  }

  .name .firstn,
  .name .lastn {
    margin-right: 0;
    margin-bottom: 20px; 
  }

  .email input,
  .msg input {
    width: 100%;
  }

  .buttons .ctn {
    margin-left: auto;
    margin-right: auto; 
    display: block;
  }

  .c1, .c2 {
    display: none; 
  }
  .name {
    flex-direction: column; 
  }

  .name .firstn,
  .name .lastn {
    width: 100%;  
    margin-right: 0;
    margin-bottom: 20px; 
  }

  .email input,
  .msg input {
    width: 100%;  
  }
  .msg input 
  {
    height: 100px;
  }

    .buttons .ctn {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
     .parah h1 {
    font-size: 22px;
    margin-left: 0;
    margin-top: 80px;
    text-align: center;
    line-height: 160%;
  }

  .parah p {
    font-size: 14px;
    margin-left: 0;
    margin-top: 12px;
    width: 90%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  .box {
    width: 90%;              
    margin-left: auto;       
    margin-right: auto;
    height: auto;            
    flex-direction: column;  
    padding: 20px;           
    text-align: center;      
  }

  .lorem h1 {
    font-size: 24px; 
  }

  .lorem p {
    font-size: 15px; 
    width: 100%;    
  }

  .box .search {
    width: 100%;          
    margin-top: 20px;     
  }

  .search input {
    width: 60%;          
  }

  .search button {
    padding: 10px 20px;   
    font-size: 14px;
  }

   .footer {
    padding: 60px 20px;   
  }

  .footer h3,
  .footer h4 {
    font-size: 10px;   
  }

  .footer p,
  .footer ul li,
  .line h6 {
    font-size: 10px;   
  }

  .end4 i {
    font-size: 10px; 
   padding-left: 10px;
  }
  .line {
  background-color: black;
  text-align: center;   
  padding: 20px;
}

.line h6 {
 display: none;
}

}
@media (max-width: 768px) {
  .contact1 h1 {
    font-size: 26px;  
  }
  .contact1 p {
    width: 90%;   
    font-size: 14px;
  }
  .image-container {
    margin-left: 80px;  
  }
  .image-container img {
    width: 500px;  
  }
  .follow p {
    font-size: 14px;
  }
  
  .follow .ic i {
    font-size: 22px;
    padding: 8px;
  }

  .call, .locate {
    font-size: 18px;
  }

  .call i, .locate i {
    font-size: 26px;
    padding-right: 15px;
  }
 .cform h3 {
    font-size: 26px;
  }

  .cform p {
    font-size: 12px;
  }

  .name input,
  .email input,
  .msg input {
    height: 50px;
  }

  .msg input {
    height: 200px; 
  }

  .buttons .ctn {
    padding-left: 40px;
    padding-right: 40px;
  }
}


@media (max-width: 567px) {
  .contact1 h6 {
    font-size: 14px;
  }
  .contact1 h1 {
    font-size: 22px;
  }
  .contact1 p {
    width: 95%;
    font-size: 13px;
    line-height: 160%;
  }
   .image-container {
    margin-left: 20px;   
  }
  .image-container img {
    width: 250px; 
    margin-left: 30px;
  }
  .lasts {
    padding: 10px;
  }

  .follow p {
    font-size: 13px;
  }

  .follow .ic i {
    font-size: 20px;
    padding: 5px;
  }

  .call, .locate {
    font-size: 16px;
    flex-direction: column;
    align-items: center;
  }

  .call i, .locate i {
    padding-right: 0;
    margin-bottom: 5px;
    font-size: 24px;
  }
   .cform {
    width: 95%; 
    padding: 10px;
    margin-top: 50px;
  }

  .cform h3 {
    font-size: 22px;
  }

  .cform p {
    font-size: 11px;
  }

  .name input,
  .email input,
  .msg input {
    width: 100%;
    font-size: 14px;
  }

  .msg input {
    height: 180px;
  }

  .buttons .ctn {
    margin: 20px auto;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
  }

  .c1, .c2 {
    display: none; 
  }
    .cform {
    width: 95%; 
  }

  .name input,
  .email input,
  .msg input {
    width: 100%; 
  }

  .msg input {
    height: 180px; 
  }
  .end4 {
    display: none;
  }
  
  
}





