@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
  
  overflow-x: hidden;
  max-width: 100vw;
  background-color: rgb(59, 41, 158);;
}
.head1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
    
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  background-color: rgb(59, 41, 158);  
}

.head1 ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 56px;
  margin-top: 20px;
  margin-right: 50px;
}

.head1 ul li {
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: white;
}

.head1 a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  margin-right: 40px;
  
}

.head1 h1 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 60px;
  color: white;
}

.ctn {
  margin-top: 50px;
	padding: 15px;
	
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	color: white;
	outline: none;
	border: none;
	border-radius: 50px;
	background-color: #fa9021;
	border-radius: 5px;
	padding: 8px 20px;

}
#active
{
  color: #f35525;
}
.menu-icon {
  display: none; 
}
.news1 h6 {
  font-size: 16px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 208.5%;
  margin-top: 150px;
}
.news1 span {
  color: #e47500;
}
.news1 h1 {
  font-size: 33px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;
  text-align: center;
  line-height: 180.5%;
  margin-top: 15px;
  width: 60%;
  margin: 0 auto;   
}
.news1 p {
  color: white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 187.5%;
  text-align: center;
  margin-top: 10px;
  width: 50%;
  margin: 0 auto;  
}
.input {
  height: 49px;
  width: 400px;
  background-color: #1c140f;
  border-radius: 10px;
  padding: 10px 20px;  
  margin: 55px auto 0; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.input input {
  width: 300px;
  height: 30px;
  background-color: #1c140f;
  border: none;
  outline: none;
  color: white;  
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.input input::placeholder {
  color: white;
  padding-left: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.input i {
  color: white;
  margin-right: 10px;
}

.totalpart {
  max-width: 1400px;
  margin: 130px auto 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 0 20px;
}

.totalpart .right {
  flex: 1;
  max-width: 650px;
}

.gpic1, .boypic1 {
  width: 100%;
  margin-bottom: 60px;
}

.gpic1 img,
.boypic1 img {
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.gpic1 .button,
.boypic1 .button {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.gpic1 .button .btn,
.boypic1 .button .btn {
  background-color: #2351f5;
  padding: 12px 40px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
}

.gpic1 .button p,
.boypic1 .button p {
  
  margin: 0;
  font-size:16px;
  color: white;
  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.gpic1 h1, .boypic1 h1 {
  
  margin-top: 20px;
  line-height: 1.5;
   font-size: 30px;
  color: white;
  font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.gpic1 p, .boypic1 p {
  font-size: 17px;
  
  font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  color: #ddd;
  margin-top: 20px;
  line-height: 1.6;
}


.totalpart .left {
  flex: 1;
  max-width: 650px;
}

.left .red {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.05);
}

.left .red img {
  border-radius: 15px;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.left .btn1 {
  display: flex;
  align-items: center;
  gap: 15px;
}

.left .btn1 .btn {
  padding: 10px 25px;
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  border-radius: 6px;
  margin-top: 10px;
}

.left .btn1 h4 {
  margin: 0;
  font-size: 16px;
  color: #ddd;
  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.parah1 p {
  margin-top: 15px;
  font-size: 23px;
  font-weight: 600;
  color: white;
  width: auto;
  line-height: 1.4;
  font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 23px;
}

.ids .btn1 .btn { background: violet; }
.ids2 .btn1 .btn { background: royalblue; }
.ids3 .btn1 .btn { background: green; }
.ids4 .btn1 .btn { background: orange; }
.ids5 .btn1 .btn { background: teal; }
.ids6 .btn1 .btn { background: brown; }
.ids7 .btn1 .btn { background: navy; }

.parah h1 
{
  color: white;
  font-size: 30px;
   font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-left: 120px;
  line-height: 187.5%;
  margin-top: 120px;
}
.parah p 
{
  color: white;
   font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 187.5%;
  margin-left: 120px;
  margin-top: 15px;
  width: 70%;
}
.box  
{
  height: 189px;
  width: 1150px;
  border-radius: 20px;
  background-color: black;
  margin-left: 120px;
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.lorem h1 
{
  font-size: 30px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;


}
.lorem p 
{
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;

    margin-top: 10px;
    width: 80%;

}
.box .search 
{
  height: 48px;
  width: 385.68px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.search button
{
  padding: 10px 30px;
  background-color: #DC7000;
  color: white;
  border-radius: 10px;
  border: none;
  outline: none;
   font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 0px;

}
.search input 
{
  outline: none;
  border: none;
  padding: 10px;
  margin-left: 20px;
}
input::placeholder
{
  color: #898989;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.footer
{
  height: 300px;
  width: 100%;
  background-color: black;
  margin-top: 160px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding-top: 80px;
}
.end1 h3 
{
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.end1 p 
{
  font-size: 16px;
   font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 20px;
}
.end2 h4 
{
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;

}

.end2 ul 
{
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 20px;
}
.end3 h4 
{
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;

}

.end3 p 
{
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 20px;
}
.end4 i 
{
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 100px;
}
.line .bottom
{
  
  border-bottom: 100%;
  border: 1px solid darkgray;
}
.line h6 
{
  color: white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 0px;
  
  padding: 20px;
  padding-left: 550px;
  background-color: black;
 
}

/*media  query*/
@media (max-width: 991px) {
  .head1 {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100px;
    position: relative;
  }

  .menu-icon {
    display: block;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }

  #nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80.5px;
    left: 0;
    width: 100%;
    background-color: black; 
    text-align: center;
    padding: 20px 0;
    z-index: 999;
  }

  #nav-links.active {
    display: flex;
  }

  .head1 ul li {
    margin: 10px 0;
  }

  .ctn {
    margin: 10px auto 0;
  }

  .head1 h1 {
    margin: 0;
    font-size: 24px;
  }
  .input {
    width: 70%;
  }
  .input {
    width: 70%;
  }
  .input input {
    width: 100%;
  }
  .totalpart {
    flex-direction: column;
    align-items: center;
  }

  .totalpart .right,
  .totalpart .left {
    max-width: 100%;
  }

  .gpic1 h1, .boypic1 h1 {
    font-size: 24px;
  }

  .gpic1 p, .boypic1 p {
    font-size: 15px;
  }

  .left .red {
    flex-direction: row;
  }
  .parah h1 {
    font-size: 22px;
    margin-left: 0;
    margin-top: 80px;
    text-align: center;
    line-height: 160%;
  }

  .parah p {
    font-size: 14px;
    margin-left: 0;
    margin-top: 12px;
    width: 90%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  .box {
    width: 90%;              
    margin-left: auto;       
    margin-right: auto;
    height: auto;            
    flex-direction: column;  
    padding: 20px;           
    text-align: center;      
  }

  .lorem h1 {
    font-size: 24px; 
  }

  .lorem p {
    font-size: 15px; 
    width: 100%;    
  }

  .box .search {
    width: 100%;          
    margin-top: 20px;     
  }

  .search input {
    width: 60%;           
  }

  .search button {
    padding: 10px 20px;   
    font-size: 14px;
  }

   .footer {
    padding: 60px 20px;   
  }

  .footer h3,
  .footer h4 {
    font-size: 10px;   
  }

  .footer p,
  .footer ul li,
  .line h6 {
    font-size: 10px;   
  }

  .end4 i {
    font-size: 10px; 
   
    padding-left: 10px;
  }
  .line {
  background-color: black;
  text-align: center;   
  padding: 20px;
}

.line h6 {
 display: none;
}
}

@media (max-width: 768px) {


.news1 h1 {
    font-size: 24px;
    width: 90%;
  }
  .news1 p {
    font-size: 14px;
    width: 85%;
  }
  .input {
    width: 80%;
  }
  .input input {
    width: 100%;
  }
  .gpic1 h1, .boypic1 h1 {
    font-size: 22px;
  }

  .parah1 p {
    font-size: 16px;
  }

  .left .red img {
    width: 90px;
    height: 90px;
  }
}

@media  (max-width: 567px) {
  .news1 h6 {
    font-size: 14px;
    margin-top: 80px;
  }
  .news1 h1 {
    font-size: 20px;
    width: 95%;
  }
  .news1 p {
    font-size: 13px;
    width: 95%;
  }
  .input {
    width: 90%;
    padding: 8px 15px;
  }
  .input input {
    width: 100%;
    font-size: 14px;
  }
   .totalpart {
    padding: 0 10px;
  }

  .left .red {
    flex-direction: column;
    align-items: flex-start;
  }

  .left .red img {
    width: 100%;
    height: auto;
  }

  .parah1 p {
    font-size: 14px;
  }

  .gpic1 h1, .boypic1 h1 {
    font-size: 20px;
  }

  .gpic1 p, .boypic1 p {
    font-size: 14px;
  }
  .end4
  {
    display: none;
  }
}






