@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
  
  overflow-x: hidden;
  max-width: 100vw;
  background-color: rgb(59, 41, 158);;
}
.head1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
    
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  background-color: rgb(59, 41, 158);  
}

.head1 ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 56px;
  margin-top: 20px;
  margin-right: 50px;
}

.head1 ul li {
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: white;
}

.head1 a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  margin-right: 40px;
  
}

.head1 h1 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 60px;
  color: white;
}

.ctn {
  margin-top: 50px;
	padding: 15px;
	
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	color: white;
	outline: none;
	border: none;
	border-radius: 50px;
	background-color: #fa9021;
	border-radius: 5px;
	padding: 8px 20px;

}
#active
{
  color: #f35525;
}
.menu-icon {
  display: none; 
}

.home-section 
{
	display: flex;
	justify-content: space-between;

}
.home-section img 
{
	position: absolute;
	right: 30px;
	left: 900px;
}

.home-section .text h5 
{
	font-size: 20px;
	font-family: "Poppins", sans-serif;
	color: #fa9021;
	margin-top: 150px;
	width: 50%;
  padding-left: 150px;
	margin-bottom: 20px;

}
.home-section .text h1
{
	font-size: 50px;
	font-family: "Poppins", sans-serif;
	width: 35%;
	color: white;
	margin-left: 150px;
} 
.home-section .text p 
{
	font-size: 16px;
	font-family: "Poppins", sans-serif;
	margin-left: 150px;
	width: 40%;
	margin-top: 40px;
	line-height: 187.5%;
	text-align: justify;
	color: white;
}
.home-section .text .ctn 
{
	margin-left: 150px;
}
.trendinggams
{
	display: flex;
	justify-content: space-between;
	color: white;
	margin-top: 48px;
} 
.trendinggams h2 
{
   font-size: 31px;
   color: white;
   font-family: "Rubik", sans-serif;
   margin-top: 150px;
   margin-left: 150px;
}
.trendinggams button 
{
	font-size: 20px;
	font-family: "Rubik", sans-serif;
	font-style: normal;
  background: transparent;
	padding: 15px 35px;
  margin-top: 140px;
	color: white;
	background-color: #609996;
	margin-right:150px;
	border-radius: 10px;
	border: none;
	outline: none;

}
.images
{
	display: grid;
   grid-template-columns:1fr 1fr 1fr 1fr;
   margin-top: 60px;
   column-gap: 10px;
   row-gap: 5px;
}
.images div img 
{
	border-radius: 20px;


}
.images div img 
{
	width: 230px;

}
.images .one 
{
	margin-left: 150px;
	padding-right: 10px;

}
.images .four
{
	margin-right: 150px;
}
.images .two 
{
	height: 207px;
	padding-left: 25px;
}
.images i 
{
	color: white;
	margin-top: 30px;
	word-spacing: 20px;
	font-size: 17px;
	padding-left: 20px;

	font-style: normal;
	letter-spacing: 2px;
	
	
}
.images .two i 
{
	margin-top: 40px;
}
.images .follow 
{
  display: inline-block;
}
.follow span  
{
	font-size: 22px;
	color: white;
	font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  padding: 10px;

}
.follow i  
{
	font-size: 22px;
	margin-left: 10px;
}
.home-section2
{
	margin-top: 150px;
	padding-left: 150px;
}
.home-section2 h1 
{
	font-size: 35px;
	color: white;
	font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
}

.home-section2 h2 
{
	font-size: 30px;
	color: white;
font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-top: 80px;
}
.home-section2 p 
{
	font-size: 16px;
	color: white;
	 font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 25px;
  width: 45%;
  line-height: 187.5%;
}
.home-section2 img 
{
	margin-top: 60px;
	border-radius: 10px;
	width: 88%;
}
.bgimg {
  width: 100%;
  min-height: 900px;
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), 
              url("bg.jpg") center/cover no-repeat;
  position: relative;
  padding: 150px 50px;  
  margin-top: 100px; 
}

.bgimg h1 {
  font-size: 42px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 20px;
}

.bgimg p {
  color: white;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0 auto 50px;
  max-width: 1000px; 
  line-height: 1.8;
}

.first4, .second4 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 30px;
  width: 100%; 
}

.icons {
  flex: 1 1 200px;   
  max-width: 220px;
  text-align: center;
}

.icons img {
  max-width: 80px;
  border-radius: 20px;
}

.icons p {
  margin-top: 10px;
  color: white;
  font-size: 16px;
}

.icons i {
  font-size: 22px;
  color: #DC7000;
  margin-top: 10px;
  display: block;
}
.picture h1 
{
	color: white;
	text-align: center;
	font-size: 30px;
	margin-top: 150px;
	font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.picture p 
{
	color: white;
	text-align: center;
	font-size: 14px;
	 font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 20px;
}
.pic6 
{
	margin-left: 150px;
	margin-top: 68px;
}
.pic6 img 
{
	object-fit: cover;
	border-radius: 35px;
	padding: 8px;
}
.pic6 button 
{
	font-size: 20px;
	font-family: "Rubik", sans-serif;
	font-style: normal;
	background: transparent;
	padding: 15px 35px;
  margin-top: 58px;
	color: white;
	background-color: #5141a8;
	border-radius: 10px;
	border: none;
	outline: none;
	margin-left: 510px;

}
.parah h1 
{
	color: white;
	font-size: 30px;
	 font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-left: 120px;
  line-height: 187.5%;
  margin-top: 120px;
}
.parah p 
{
	color: white;
	 font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 187.5%;
  margin-left: 120px;
  margin-top: 15px;
  width: 70%;
}
.box  
{
	height: 189px;
	width: 1150px;
	border-radius: 20px;
	background-color: black;
	margin-left: 120px;
	margin-top: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;

}
.lorem h1 
{
	font-size: 30px;
	color: white;
	font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;

}
.lorem p 
{
	font-size: 17px;
	font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  margin-top: 10px;
  width: 80%;

}
.box .search 
{
	height: 48px;
	width: 385.68px;
	border-radius: 10px;
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
}
.search button
{
	padding: 10px 30px;
	background-color: #DC7000;
	color: white;
	border-radius: 10px;
	border: none;
	outline: none;
	 font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 0px;

}
.search input 
{
	outline: none;
	border: none;
	padding: 10px;
	margin-left: 20px;
}
input::placeholder
{
	color: #898989;
	font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.footer
{
	height: 300px;
	width: 100%;
	background-color: black;
	margin-top: 160px;
	color: white;
	display: flex;
	justify-content: space-evenly;
	padding-top: 80px;
}
.end1 h3 
{
	font-size: 24px;
	font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.end1 p 
{
	font-size: 16px;
	 font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 20px;
}
.end2 h4 
{
	font-size: 17px;
	font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;

}

.end2 ul 
{
	list-style-type: none;
	font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 20px;
}
.end3 h4 
{
	font-size: 17px;
	font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;

}

.end3 p 
{
	list-style-type: none;
	font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 20px;
}
.end4 i 
{
	font-size: 30px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 100px;
}
hr 
{
	color: darkgray;
}
.line h6 
{
	color: white;
	font-size: 16px;
	font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 0px;
  
  padding: 20px;
  padding-left: 550px;
  background-color: black;
 
}


/*media query*/

@media (max-width: 991px) {
  .head1 {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100px;
    position: relative;
  }

  .menu-icon {
    display: block;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }

  #nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80.5px;
    left: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 20px 0;
    z-index: 999;
  }

  #nav-links.active {
    display: flex;
  }

  .head1 ul li {
    margin: 10px 0;
  }

  .ctn {
    margin: 10px auto 0;
  }

  .head1 h1 {
    margin: 0;
    font-size: 24px;
  }
  .home-section {
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px;
    position: relative;
  }

  .home-section img {
    position: static;
    width: 60%;
    left: 300px;
    margin-top: 20px;
  }

  .home-section .text h5,
  .home-section .text h1,
  .home-section .text p,
  .home-section .text .ctn {
    margin-left: 0;
    padding-left: 0;
    width: 90%;
    text-align: center;
  }

  .home-section .text h1 {
    width: 100%;
    font-size: 36px;

  }

  .home-section .text p {
    width: 100%;
  }

  .home-section .text .ctn {
    margin: 20px auto 0;
  }
  .trendinggams {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .trendinggams h2 {
    margin-left: 0;
    margin-top: 50px;
  }

  .trendinggams button {
    margin: 0 auto 30px;
  }

  .images {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    justify-items: center;
  }

  .images .one,
  .images .four {
    margin: 0;
  }

  .images div img {
    width: 200px;
  }

  .images .follow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .follow span,
  .follow i {
    
    margin-top: 0;
  }
  .two 
  .follow i 
  {
  	margin-top: 0px;
  	position: relative;
  	top: 0px;
  }
  .home-section2 {
    margin-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }

  .home-section2 h1 {
    font-size: 28px;
  }

  .home-section2 h2 {
    font-size: 22px;
    margin-top: 40px;
  }

  .home-section2 p {
    font-size: 15px;
    width: 100%;
    margin-top: 20px;
    line-height: 180%;
  }

  .home-section2 img {
    margin-top: 40px;
    width: 100%;
    border-radius: 8px;
  }
  .bgimg {
    padding: 100px 20px;
    margin-top: 60px;
    min-height: auto; 
  }

  .bgimg h1 {
    font-size: 30px;
    line-height: 1.4;
  }

  .bgimg h1 span {
    font-size: 22px; 
    display: block;
    margin-top: 8px;
  }

  .bgimg p {
    font-size: 16px;
    line-height: 1.6;
    max-width: 100%;
    margin-bottom: 30px;
    padding: 0 10px;
  }

  .first4, .second4 {
    gap: 20px;
    margin-top: 20px;
    flex-direction: column; 
    align-items: center;
  }

  .icons {
    flex: 1 1 100%;
    max-width: 280px;
  }

  .icons img {
    max-width: 60px;
  }

  .icons p {
    font-size: 15px;
  }

  .icons i {
    font-size: 20px;
  }
  .picture h1 {
    font-size: 24px;
    margin-top: 80px;
  }

  .picture p {
    font-size: 13px;
    width: 90%;
    margin: 15px auto 0; 
  }

  .pic6 {
    margin-left: 0;
    margin-top: 40px;
    text-align: center;
  }

  .pic6 .first3,
  .pic6 .second3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pic6 img {
    width: 90%;
    max-width: 350px;
    border-radius: 20px;
    padding: 5px;
  }

  .pic6 button {
    margin: 30px auto 0;
    display: block;
    font-size: 18px;
    padding: 12px 28px;
  }

  .parah h1 {
    font-size: 22px;
    margin-left: 0;
    margin-top: 80px;
    text-align: center;
    line-height: 160%;
  }

  .parah p {
    font-size: 14px;
    margin-left: 0;
    margin-top: 12px;
    width: 90%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  .box {
    width: 90%;              
    margin-left: auto;     
    margin-right: auto;
    height: auto;            
    flex-direction: column;  
    padding: 20px;           
    text-align: center;      
  }

  .lorem h1 {
    font-size: 24px; 
  }

  .lorem p {
    font-size: 15px; 
    width: 100%;    
  }

  .box .search {
    width: 100%;          
    margin-top: 20px;     
  }

  .search input {
    width: 60%;           
  }

  .search button {
    padding: 10px 20px;  
    font-size: 14px;
  }

  .footer {
    padding: 60px 20px;   
  }

  .footer h3,
  .footer h4 {
    font-size: 10px;   
  }

  .footer p,
  .footer ul li,
  .line h6 {
    font-size: 10px;  
  }

  .end4 i {
    font-size: 10px; 
    padding-left: 10px;
  }
  .line {
  background-color: black;
  text-align: center;   
  padding: 20px;
}

.line h6 {
 display: none;
}
  
}

@media (max-width: 768px) {
  .home-section img {
    width: 80%;
  }

  .home-section .text h1 {
    font-size: 28px;
  }

  .home-section .text h5 {
    font-size: 18px;
  }

  .home-section .text p {
    font-size: 15px;
    line-height: 180%;
  }

  .home-section .text .ctn {
    font-size: 15px;
    padding: 10px 20px;
  }
  

  .trendinggams h2 {
    font-size: 24px;
  }

  .trendinggams button {
    font-size: 18px;
    padding: 10px 25px;
  }

  
}

@media (max-width: 567px) {
  .home-section {
    padding: 10px;
  }

  .home-section img {
    width: 100%;
  }

  .home-section .text h1 {
    font-size: 24px;
  }

  .home-section .text h5 {
    font-size: 16px;
  }

  .home-section .text p {
    font-size: 14px;
  }

  .home-section .text .ctn {
    font-size: 14px;
    padding: 8px 16px;
  }
  .trendinggams h2 {
    font-size: 20px;
    margin-top: 30px;
  }

  .trendinggams button {
    font-size: 16px;
    padding: 8px 20px;
  }

  .images {
    grid-template-columns: 1fr;
    row-gap: 20px;
    column-gap: 0;
    padding: 0 15px; 
    width: 100%;
    box-sizing: border-box;
  }

  .images div {
    margin: 0 auto;
    width: 100%;
  }

  .images div img {
    width: 100%;
    max-width: 100%;
    border-radius: 15px;
  }

  .images .one,
  .images .two,
  .images .third,
  .images .four {
    margin-left: 0;
    margin-right: 0;
  }
  .images .two  
  {
  	display: none;
  }

  .follow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
  }

  .follow i,
  .follow span {
    font-size: 16px;
  }
}
@media (max-width: 487px) 
{
  .end4  
  {
    display: none;
  }
}


